.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chart-heading{
  text-align: center;
  color: rgb(80, 4, 43);
  text-decoration:underline;
}
.header{
  text-align: right;
  background-color: #8884d8;
  padding: 20px 0px;
}
.header a{
  
  text-decoration: none;
  padding: 0px 20px;
  color: rgb(235, 222, 222);
  transition: .4s;
  font-size: 19px;
  letter-spacing: 5px;
  margin: 10px;
}
.header a:hover{
  color:#3467d6;
}
.bar-chart{
  text-align: center;
  color: rgb(26, 58, 53);
  text-decoration:underline;
}
.area-chart{
  text-align: center;
  color: rgb(28, 2, 43);
  text-decoration:underline;
}